﻿@model lab.Models.Cafe
 

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<hr />
<div>
    <h4>Cafe</h4>
    <hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Picture)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Picture)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Discription)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Discription)
    </dd>
</dl>
<hr />
    <h4>Dishes</h4>

<hr />
<dl class="dl-horizontal">

    @foreach (var item in Model.Dishes)
    {

        <tr>
        
            <dt>
                @Html.DisplayNameFor(modelItem => item.Meal_name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Meal_name)

            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.Price)

            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.Meal_discription)

            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Meal_discription)
            </dd>
        </tr>
        <hr />

    }
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a><br>



    <a asp-action="Index">Back to List</a>
