﻿@model lab.Models.Dish

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meal_name" class="control-label"></label>
                <input asp-for="Meal_name" class="form-control" />
                <span asp-validation-for="Meal_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal_discription" class="control-label"></label>
                <input asp-for="Meal_discription" class="form-control" />
                <span asp-validation-for="Meal_discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CafeId" class="control-label"></label>
                <select asp-for="CafeId" class ="form-control" asp-items="ViewBag.CafeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

