﻿@model lab.Models.Dish

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meal_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meal_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meal_discription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meal_discription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cafe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
